*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.btn-menu{
    width: 30px;
    height: 5px;
    background-color: gray;
    position: relative;
    top: 30px;
    left: 30px;
}
.btn-menu::before, .btn-menu::after {
    content: "";
    width: 30px;
    height: 5px;
    background-color: gray;
    position: absolute;
    transition: 1s;


    
}
.btn-menu::before {
    top: -10px;
}
.btn-menu::after {
    top: 10px;
}
input {
    display: none;
}
input:checked ~ label .btn-menu::before{
    transform: rotate(45deg);
    top: 0;
}
input:checked ~ label .btn-menu::after{
    transform: rotate(-45deg);
    top: 0;
}
input:checked ~ label .btn-menu{
    background: transparent;
}

.menu{
    width: 100vw;
    height: 100vh;
    background-color: #33006F;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
input:checked ~ .menu {
    width: 0;
}
input:checked ~ .menu ul li {
    display: none;
}
li{
    color: gray;
    font-size: 1.5em;
}